/*-----------------
Animations
-----------------*/
@keyframes loading-logo {
  100% {
    transform: rotate(-360deg); 
  }
}

/*-----------------
Styling
-----------------*/

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.contents {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
	&--about-us {
		border: 5px solid gray;
	}
	&--arcade-results {
		border: 5px solid yellow;
		&__arcade-info {

		}
		&__cover-image {
			width: 100%;
			display: block;
		}
		&__image-carousel {
			width: 100%;
			&--images {
				color: black;
			}
		}
		&__buttons-area {
			&--google-maps {
				color: red;
			}
			&--read-more {
				color: purple;
			}
		} 
	}
	&--contact {
		border: 5px solid pink;
	}
	&--find-menu {
		border: 5px solid blue;
	}
	&--live-map {
		border: 5px solid red;
		.actual-map {
			height: 500px;
			width: 500px;
			border: 2px solid orange;
		}
	}
	&--404 {
		border: 5px solid orange;
	}
	&--splash-menu {
		border: 5px solid green;
	}
	&--search-game {
		border: 5px solid brown;
		li {
			display: inline-block;
			height: 300px;
			width: 200px;
			padding: 20px;
		}
		.loaded-games {
			img {
				width: 100%;
			}
		}
		.loading_now {
			img {
				animation: 1s loading-logo linear infinite;
			}
		}
	}
}